[defaults]
# Path & inventory
; log_path                = /var/log/ansible/development.log
remote_tmp               = $HOME/.ansible/tmp
roles_path = ./roles

# Security
host_key_checking       = True

# Retry
retry_files_enabled     = True
retry_files_save_path   = /tmp/ansible-retries

# Performance
forks                   = 5
gathering                = smart
fact_caching            = jsonfile
fact_caching_connection = /tmp/ansible-facts
fact_caching_timeout    = 3600

# Output
callbacks_enabled       = timer, profile_tasks

[privilege_escalation]
become                  = True
become_method            = sudo
become_ask_pass         = False

[ssh_connection]
pipelining               = True
ssh_args                 = -o ControlMaster=auto -o ControlPersist=60s
control_path             = /tmp/ansible-ssh-%%h-%%p-%%r
transfer_method          = smart
timeout                  = 60